.container {
    text-align: center;
    width: 100%;
    margin: 24px 0;
  }
  
  .amountInput {
    text-align: center;
  }
  
  .bigButton {
    height: 48px !important;
    font-weight: 600 !important;
    font-size: 14px !important;
  }
  
  .amountInput {
    -webkit-appearance: none;
    line-height: 50px;
    width: 100%;
    transition: 0.2s font-size, 0.5s color;
    color: var(--primary) !important;
    white-space: nowrap;
    span {
      outline: none;
    }
    overflow: hidden;
  }
  
  .inputRow {
    width: 100%;
  }
  
  .input {
    white-space: nowrap;
  }
  
  .iconContainer {
    padding: 6px;
    border-radius: 100%;
    border: 1px solid var(--line);
    text-align: center;
    cursor: pointer;
    width: 30px;
  }
  
  .maxButton {
    display: flex;
    align-items: center;
    justify-content: center;
    path {
      fill: var(--primary);
    }
  }
  
  .swapButton {
    display: flex;
    align-items: center;
    justify-content: center;
    path {
      stroke: var(--primary);
    }
  }
  
  .nullAmount {
    &:not(:focus) {
      color: var(--secondary) !important;
    }
  }
  