.loading {
  animation: spin 1s infinite linear;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  font-size: 48px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
