.alignCenter {
  display: flex;
  text-align: center;
  gap: 4px;
}

.metric {
  .label {
    align-items: center;
    gap: 4px;
  }

  &:last-of-type {
    text-align: end;
    .label {
      flex-direction: row-reverse;
      justify-content: end;
    }
  }
  &:first-of-type {
    text-align: start;
    .label {
      flex-direction: row;
      justify-content: start;
    }
  }
}
