.alignCenter {
  .label {
    display: block;
    margin-bottom: 4px;
  }
  text-align: center;
}

.metric {
  .label {
    display: flex;
    margin-bottom: 4px;
    justify-content: center;
  }

  &:last-of-type {
    text-align: end;
    .label {
      flex-direction: row-reverse;
      justify-content: end;
    }
  }
  &:first-of-type {
    text-align: start;
    .label {
      justify-content: start;
    }
  }
}
